
src/.vs/

src/Services/Basket/Basket.API/bin/

src/Services/Basket/Basket.API/obj/

src/Services/Discount/Discount.API/bin/

src/Services/Discount/Discount.API/obj/

src/Services/Catalog/Catalog.API/obj/

src/Services/Movies/Movies.API/bin/

src/Services/Movies/Movies.API/obj/

src/Services/IdentityServer/IdentityServer/bin/

src/Services/IdentityServer/IdentityServer/obj/

src/Movies.Client/bin/

src/Movies.Client/obj/

src/Services/Movies/Movies.Client/bin/

src/Services/Movies/Movies.Client/obj/

src/Services/APIGetway/APIGetway/bin/

src/Services/APIGetway/APIGetway/obj/

src/Services/Security/WebApp_UnderTheHood/bin/

src/Services/Security/WebApp_UnderTheHood/obj/

src/Services/Security/Web API/bin/

src/Services/Security/Web API/obj/

src/Services/Security/WebApp/bin/

src/Services/Security/WebApp/obj/

src/CoffeeDataAccess/bin/

src/CoffeeDataAccess/obj/

src/Services/IdentityServer/NewServer/bin/

src/Services/IdentityServer/NewServer/obj/

src/Services/Practice/CoffeeAPI/bin/

src/Services/Practice/CoffeeAPI/obj/

src/Services/Practice/CoffeeClient/bin/

src/Services/Practice/CoffeeClient/obj/

src/Services/Practice/TestAPI/bin/

src/Services/Practice/TestAPI/obj/

src/NetCore8/bin/Debug/

src/NetCore8/obj/Debug/

src/NetCore8/obj/
