
src/.vs/

src/Services/Basket/Basket.API/bin/

src/Services/Basket/Basket.API/obj/

src/Services/Discount/Discount.API/bin/

src/Services/Discount/Discount.API/obj/

src/Services/Catalog/Catalog.API/obj/

src/Services/Movies/Movies.API/bin/

src/Services/Movies/Movies.API/obj/

src/Services/IdentityServer/IdentityServer/bin/

src/Services/IdentityServer/IdentityServer/obj/

src/Movies.Client/bin/

src/Movies.Client/obj/

src/Services/Movies/Movies.Client/bin/

src/Services/Movies/Movies.Client/obj/

src/Services/APIGetway/APIGetway/bin/

src/Services/APIGetway/APIGetway/obj/

src/Services/Security/WebApp_UnderTheHood/bin/

src/Services/Security/WebApp_UnderTheHood/obj/

src/Services/Security/Web API/bin/

src/Services/Security/Web API/obj/

src/Services/Security/WebApp/bin/

src/Services/Security/WebApp/obj/
